  <% content_tag :div, class: @trip.title %>
    <div style="background-image: url(<%= @trip.image_url %>)" class="col-md-6 trip-img">
      <% if @trip.not_retired? %>
      <%= button_to "Hop on it!", carts_path(trip_id: @trip.id), class: "btn btn-success trip-card-btn" %>
      <% else %>
      <div class="trip-card-text">
        <p><strong><%= "Trip Retired" %></strong></p>
        <% end %>
      </div>

    </div>
    <p><h2><%= @trip.title %> <%= number_to_currency(@trip.price) %></h2></p>
    <p><%= @trip.description %></p>
