<script src="//maps.google.com/maps/api/js?key=AIzaSyAIJP7uNqEDirpXJHIBBWxXiucPpyH2waQ"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

  <div class="col-md-8 col-md-offset-2">
    <div style="background-image: url(<%= @trip.image_url %>)" class="jumbotron show-jumbo">
      <h1 class="page-header" id="show-jumbo-txt"><%= @trip.title %> </h1>
      <h2 id="show-jumbo-txt"><%= number_to_currency(@trip.price) %></h2>
      <% if @trip.not_retired? %>
        <%= button_to "Hop on it!", carts_path(trip_id: @trip.id), class: "btn btn-success btn-lg" %>
      <% else %>
        <p id="retired"><strong><%= "Trip Retired" %></strong></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
      <p><%= @trip.description %></p>
  </div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds(); handler.getMap().setZoom(5);
});
</script>
