<div class="well">
  <h2>Order # <%= @order.id %></h2>
  <p>Placed on: <%= @order.created_at.strftime("%b %d, %Y at %l:%M %P") %></p>
  <span class="label label-default"><%= @order.status %></span> <span><em>status last updated on <%= @order.updated_at.strftime("%b %d, %Y at %l:%M %P") %></em></span><br><br>
  <table class="table">
    <th>Location</th><th>Quantity</th><th>Subtotal</th>
    <% @order.orders_trips.each do |order_trip| %>
      <tr>
        <td><%= link_to order_trip.trip.title, trip_path(order_trip.trip) %></td>
        <td><%= order_trip.quantity %></td>
        <td><%= number_to_currency(order_trip.subtotal) %></td>
      </tr>
    <% end %>
  </table>
  <hr>
  <h4 class="text-right"><strong>Total:</strong> <%= number_to_currency(@order.cost) %></h4>
</div>
