<% @trips.each do |trip| %>
  <% if trip.not_retired? %>
    <%= content_tag :div, class: trip.title do %>
      <div class="trip-container col-md-6">
        <a href= <%= trip_path(trip) %>>
          <%= image_tag trip.image_url, class: "trip-img" %>
        </a>
        <a href=<%= trip_path(trip) %>>
          <h2 class="trip-card-header"><%= trip.title %></h2>
        </a>
        <h2 class="trip-card-price"><%= number_to_currency(trip.price) %></h2>
        <div class="trip-card-text">
          <p><em><%= trip.truncate_description(trip.description) %>...</em></p>
        </div>
        <%= button_to "Hop on it!", carts_path(trip_id: trip.id), class: "btn btn-success trip-card-btn btn-lg" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<div class="row"> </div>

<h1>Previously Offered Trips</h1>
<% @trips.each do |trip| %>
  <% if trip.retired? %>
    <%= content_tag :div, class: trip.title do %>
      <div class="trip-container col-md-6">
        <a href= <%= trip_path(trip) %>>
          <%= image_tag trip.image_url, class: "trip-img" %>
        </a>
        <a href=<%= trip_path(trip) %>>
          <h2 class="trip-card-header"><%= trip.title %></h2>
        </a>
        <h2 class="trip-card-price"><%= number_to_currency(trip.price) %></h2>
        <div class="trip-card-text">
          <p><em><%= trip.truncate_description(trip.description) %>...</em></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
