<div class="well">
  <h2>Order # <%= @order.id %></h2> 
  <span>Placed on: <%= time_tag @order.created_at %></span>
  <p>Status: <%= @order.status %></p>
  <table class="table">
    <th>Location</th><th>Quantity</th><th>Subtotal</th>
    <% @order.orders_trips.each do |order_trip| %>
      <tr>
        <td><%= order_trip.trip.title %></td>
        <td><%= order_trip.quantity %></td>
        <td><%= order_trip.subtotal %></td>
      </tr>
    <% end %>
  </table>
</div>
