<div class="container">
  <div class="mainbox col-md-6 center-form">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title"><%= @trip.title %></div>
      </div>
      <div class="panel-body">
      <%= form_for([:admin, @trip]) do |f| %>
        <div class="form-group">
          <%= f.label :title, class: "control-label col-md-4" %>
          <%= f.text_field :title, class: "input-md textinput textInput form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "control-label col-md-4" %>
          <%= f.text_field :description, class: "input-md textinput textInput form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :price, class: "control-label col-md-4" %>
          <%= f.text_field :price, class: "input-md textinput textInput form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :image_url, class: "control-label col-md-4" %>
          <%= f.text_field :image_url, class: "input-md textinput textInput form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location, class: "control-label col-md-4" %>
          <%= f.text_field :address, class: "input-md textinput textInput form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :category, class: "control-label col-md-4" %>
          <%= f.collection_select :category_ids, @categories, :id, :title, class: "form-inline input-md form-control" %>
        </div>
      <%= f.submit class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>
