<table class="table">
  <th></th><th>Location</th><th>Price</th><th>Description<th>Subtotal<th>Quantity</th></th><th></th>
  <% @cart.trips_count.each do |trip, count| %>
    <tr>
      <td><%= image_tag trip.image_url, size: "60x40" %></td>
      <td><%= link_to trip.title, trip_path(trip) %></td>
      <td><%= trip.price %></td>
      <td><%= link_to trip.truncate_description(trip.description), trip_path(trip)%>...</td>
      <td><%= @cart.subtotal_of_trip(trip, count) %></td>
      <td><%= form_tag update_cart_path(trip_id: trip.id) do %>
        <%= select_tag :quantity, options_for_select([1,2,3,4,5,6,7,8,9], count) %>
        <%= submit_tag "Update", class: "btn btn-info" %>
      <% end %></td>

      <td><%= button_to "X", update_cart_path(trip_id: trip.id), method: "put", class: "btn btn-warning" %></td>
    </tr>
  <% end %>
</table>

Total (<%= @cart.total %> Items) <%= @cart.total_cost %></br>

<% unless current_user %>
  <%= link_to "Login or Create Account to Checkout", new_user_path %>
<% end %>

<% if current_user %>
  <%= button_to "Checkout", new_order_path, method: "get", class: "btn btn-warning" %>
<% end %>
