<table class="table">
  <th></th><th>Location</th><th>Price</th><th>Quantity</th><th></th>
  <% @cart.trips_count.each do |trip, count| %>
    <tr>
      <td><%= image_tag "trip.image_url", size: 24 %></td>
      <td><%= trip.title %></td>
      <td><%= trip.price %></td>

      <td><%= form_tag update_cart_path(trip_id: trip.id) do %>
        <%= select_tag :quantity, options_for_select([1,2,3,4,5,6,7,8,9], count) %>
        <%= submit_tag "Update", class: "btn btn-info" %>
      <% end %></td>

      <td><%= button_to "X", update_cart_path(trip_id: trip.id), method: "put", class: "btn btn-warning" %></td>
    </tr>
  <% end %>
</table>

Subtotal (<%= @cart.total %> Items) <%= @cart.total_cost %>

<%= link_to "Login or Create Account to Checkout", new_user_path %>
