<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop1608</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav id="site-header" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <a id="site-title" class="navbar-brand">Ribbit</a>
        </div>

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div id="navbar" class="navbar-collapse collapse">

          <div class="navbar-form navbar-center">
            <%= form_tag trips_path, method: "get", class: "navbar-form" do %>
              <%= text_field_tag :seach, "Find your next lilypad", class: "form-control", id: "destination-search" %>
              <%= submit_tag "Go", class: "btn btn-default" %>
            <% end %>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Login | Register", 'login_path', class: "site-login" %></li>
          </ul>

        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
